@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/*---*/
/* text color*/
/* for fill background-color */
/* color palette */
/* color palette */
.hidden {
  display: none !important; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0; }

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  line-height: 1.7;
  color: #666666;
  background: #fefefe;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }

.text-primary {
  color: #1e56b1 !important; }

.text-white-color {
  color: #fff; }

.text-dark-color {
  color: #242424; }

.text-light-secondary {
  color: #F8F8F8; }

.text-dark-secondary {
  color: #707070; }

.fill-light-bg {
  background: #FBFBFB; }

.fill-light-secondary-bg {
  background: #E1E1E1; }

.fill-light-blue-bg {
  background: #E9F1EE; }

.fill-orange {
  background: #FE9900; }

.fill-orange-secondary {
  background: #F9D030; }

.text-orange {
  color: #FE9900; }

.border-orange {
  border-color: #FE9900; }

.text-orange-secondary {
  color: #F9D030; }

.border-orange-secondary {
  border-color: #F9D030; }

.fill-blue {
  background: #0000FE; }

.fill-blue-secondary {
  background: #0067B3; }

.text-blue {
  color: #3030bf; }

.border-blue {
  border-color: #0000FE; }

.text-blue-secondary {
  color: #0067B3; }

.border-blue-secondary {
  border-color: #0067B3; }

.fill-green {
  background: #049901; }

.fill-green-secondary {
  background: #32CD30; }

.text-green {
  color: #049901; }

.border-green {
  border-color: #049901; }

.text-green-secondary {
  color: #32CD30; }

.border-green-secondary {
  border-color: #32CD30; }

.fill-orange-peel-accent-color {
  background: #FF9900; }

.orange-peel-accent-color {
  color: #FF9900; }

.border-orange-peel-accent-color {
  border-color: #FF9900; }

.text-orange-peel-accent-color {
  color: #FF9900; }

.border-orange-peel-accent-color {
  border-color: #FF9900; }

.p-b-20 {
  padding-bottom: 20px; }

.p-b-48 {
  padding-bottom: 48px; }

.p-b-26 {
  padding-bottom: 26px; }

.p-t-10 {
  padding-top: 10px; }

.p-t-20 {
  padding-top: 20px !important; }

.p-l-20 {
  padding-left: 20px; }

ul li {
  list-style-type: none; }

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none;
  color: #6C63FF; }

button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.full-width {
  width: 100% !important; }

.pull-right {
  margin-left: auto; }

.pull-left {
  margin-right: auto; }

.m-t-10 {
  margin-top: 10px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-40 {
  margin-bottom: 40px; }

.b-0 {
  border: 0; }

.text-muted {
  color: #656565 !important; }

.fa {
  font-size: 14px; }

a,
.btn,
.btn:hover {
  text-decoration: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.invalid-feedback {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */ }

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.btn {
  font-size: 14px;
  color: #707070;
  font-family: 'Roboto', 'Poppins', sans-serif;
  padding: 8px 22px;
  margin-bottom: 14px;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13); }

.btn:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px); }

.btn-xs {
  font-size: 16px; }

.btn-rounded {
  border-radius: 5px; }

.btn.fill-orange {
  color: #fff; }

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.fill-orange:hover,
.btn.fill-orange:not(:disabled):not(.disabled).active,
.btn.fill-orange:not(:disabled):not(.disabled):active,
.show > .btn.fill-orange.dropdown-toggle {
  background: transparent;
  border-color: #FE9900;
  color: #fff; }

.btn-orange {
  background: #FE9900;
  border-color: #FE9900;
  color: #fff; }

.btn.btn-orange:hover,
.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show > .btn-orange.dropdown-toggle {
  background: transparent;
  border-color: #FE9900;
  color: #fff; }

.btn-white {
  background: #fff;
  border-color: #fff;
  color: #6C63FF; }

.btn.btn-white:hover,
.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active,
.show > .btn-white.dropdown-toggle {
  background: #fff;
  border-color: #fff;
  color: #6C63FF; }

.btn-green {
  background: #049901;
  border-color: #049901;
  color: #fff; }

.btn.btn-green:hover,
.btn-green:not(:disabled):not(.disabled).active,
.btn-green:not(:disabled):not(.disabled):active,
.show > .btn-green.dropdown-toggle {
  background: transparent;
  border-color: #049901;
  color: #fff; }

.btn-blue {
  background: #0000FE;
  border-color: #0000FE;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn.btn-blue:hover,
.btn-blue:not(:disabled):not(.disabled).active,
.btn-blue:not(:disabled):not(.disabled):active,
.show > .btn-blue.dropdown-toggle {
  background: transparent;
  border-color: #0000FE;
  color: #fff; }

.btn-orange-peel-accent-color {
  background: #FF9900;
  border-color: #FF9900;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn.btn-orange-peel-accent-color:hover,
.btn-orange-peel-accent-color:not(:disabled):not(.disabled).active,
.btn-orange-peel-accent-color:not(:disabled):not(.disabled):active,
.show > .btn-orange-peel-accent-color.dropdown-toggle {
  background: #FF9900;
  border-color: #FF9900;
  color: #fff; }

.btn-primary {
  background: #6C63FF;
  border-color: #6C63FF;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: #6C63FF;
  border-color: #6C63FF;
  color: #fff; }

.btn-outline {
  border: 2px solid transparent; }

.btn-outline.btn-orange {
  background: #fff;
  border-color: #FE9900;
  color: #707070; }

.btn.btn-outline.btn-orange:hover,
.btn-outline.btn-orange:not(:disabled):not(.disabled).active,
.btn-outline.btn-orange:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-orange.dropdown-toggle {
  background: #FE9900;
  border-color: #FE9900;
  color: #fff; }

.btn-outline.btn-green {
  background: #fff;
  border-color: #049901;
  color: #707070; }

.btn.btn-outline.btn-green:hover,
.btn-outline.btn-green:not(:disabled):not(.disabled).active,
.btn-outline.btn-green:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-green.dropdown-toggle {
  background: #049901;
  border-color: #049901;
  color: #fff; }

.btn-outline.btn-blue {
  background: #fff;
  border-color: #3030bf;
  color: #707070; }

.btn.btn-outline.btn-blue:hover,
.btn-outline.btn-blue:not(:disabled):not(.disabled).active,
.btn-outline.btn-blue:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-blue.dropdown-toggle {
  background: #3030bf;
  border-color: #3030bf;
  color: #fff; }

.btn-outline.btn-blue {
  background: #fff;
  border-color: #3030bf;
  color: #707070; }

.btn.btn-outline.btn-blue:hover,
.btn-outline.btn-blue:not(:disabled):not(.disabled).active,
.btn-outline.btn-blue:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-blue.dropdown-toggle {
  background: #3030bf;
  border-color: #3030bf;
  color: #fff; }

.btn-outline.btn-orange-peel-accent-color {
  background: #fff;
  border-color: #FF9900;
  color: #707070; }

.btn.btn-outline.btn-orange-peel-accent-color:hover,
.btn-outline.btn-orange-peel-accent-color:not(:disabled):not(.disabled).active,
.btn-outline.btn-orange-peel-accent-color:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-orange-peel-accent-color.dropdown-toggle {
  background: #FF9900;
  border-color: #FF9900;
  color: #fff; }

.btn-outline.btn-orange-peel-accent-color {
  background: #fff;
  border-color: #FF9900;
  color: #707070; }

.btn.btn-outline.btn-orange-peel-accent-color:hover,
.btn-outline.btn-orange-peel-accent-color:not(:disabled):not(.disabled).active,
.btn-outline.btn-orange-peel-accent-color:not(:disabled):not(.disabled):active,
.show > .btn-outline.btn-orange-peel-accent-color.dropdown-toggle {
  background: #FF9900;
  border-color: #FF9900;
  color: #fff; }

button.btn.btn-transparent {
  background: transparent; }

.intro-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.intro-bg svg {
  width: 100%; }

/* navbar start */
nav.navbar {
  -webkit-box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0);
  box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0);
  -webkit-transition: background 0.1s ease, -webkit-box-shadow 0.2s ease;
  transition: background 0.1s ease, -webkit-box-shadow 0.2s ease;
  -o-transition: background 0.1s ease, box-shadow 0.2s ease;
  transition: background 0.1s ease, box-shadow 0.2s ease;
  transition: background 0.1s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease; }

nav.navbar.sticky {
  background: #fefefe;
  -webkit-box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0.16); }

.navbar.light-bg .navbar-toggler,
.navbar.bg-transparent .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-brand img {
  height: 42px;
  width: auto; }

ul.navbar-nav .nav-item .nav-link {
  font-family: 'Poppins', serif, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 14px 20px;
  color: #707070;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

ul.navbar-nav .nav-item .nav-link.active {
  color: #6C63FF; }

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: #212121; }

button.navbar-toggler {
  position: relative;
  display: block;
  background: 0 0;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 44px;
  height: 34px;
  cursor: pointer;
  color: unset;
  border: 0; }

button span.line {
  position: relative;
  height: 2px;
  background: #707070;
  width: 100%;
  display: block;
  margin: 4px 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.navbar-toggler:focus,
.navbar-toggler:hover {
  cursor: pointer; }

button.navbar-toggler:hover span.line {
  background: rgba(112, 112, 112, 0.7); }

button.navbar-toggler[aria-expanded=true] .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(-135deg);
  -ms-transform: translateY(6px) rotate(-135deg);
  transform: translateY(6px) rotate(-135deg); }

button.navbar-toggler[aria-expanded=true] .line:nth-child(2) {
  -webkit-transform: translateY(0) rotate(135deg);
  -ms-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
  opacity: 0; }

button.navbar-toggler[aria-expanded=true] .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(135deg);
  -ms-transform: translateY(-6px) rotate(135deg);
  transform: translateY(-6px) rotate(135deg); }

@media (max-width: 991px) {
  ul.navbar-nav .nav-item .nav-link {
    text-align: center; } }

/* navbar close */
section {
  padding: 60px 0; }

.caption-heading {
  font-size: 24px;
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  color: #212121;
  margin-bottom: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase; }

.caption-text {
  font-size: calc(13px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #212121; }

.section-content-img {
  margin: 14px 0;
  text-align: center; }

.section-content-img img {
  width: 430px;
  overflow: hidden; }

/* intro-section start */
section.intro-section {
  padding-top: 6%; }

/* intro-section close */
/* feature-section start */
.section-heading {
  font-size: 24px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase; }

.brief-text {
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #212121; }

.v-list {
  padding-left: 0;
  list-style: none; }

ul.v-list.list-text-icon .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 12px 0; }

.iconbox .list-icon {
  width: 32px;
  height: 32px;
  background: #6C63FF;
  color: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin-right: 14px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.iconbox .list-content .list-heading {
  font-size: 14px;
  color: #212121;
  font-weight: 700;
  margin-bottom: 4px; }

.iconbox .list-content .list-brief-text {
  color: 14px; }

.iconbox .list-content {
  font-size: 14px;
  width: calc(100% + -32px); }

.section-content-one ul.v-list.list-text-icon .iconbox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* feature-section close */
/* impact-section start */
.impact-number {
  font-size: 24px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 4px;
  letter-spacing: 0.4px;
  text-transform: uppercase; }

.iconbox-item-wrapepr {
  width: 100%;
  text-align: center;
  margin: 12px 0; }

.icon-wrapper {
  width: 82px;
  height: 82px;
  background: #6C63FF;
  color: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin: 0 auto 14px;
  font-size: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.iconbox-item-wrapepr:hover .icon-wrapper {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px); }

.item-title {
  font-size: 14px;
  color: #707070; }

/* impact-section close */
/* request-demo-section start */
.request-demo-section button.btn {
  padding: 10px 32px;
  font-weight: 500; }

section.request-demo-section {
  background: #6C63FF; }

.request-demo-section .caption-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.request-demo-content .section-heading {
  color: #fff;
  text-transform: none; }

.request-demo-content .brief-text {
  color: #F8F8F8; }

/* request-demo-section close */
/* footer start */
.footer-top-area {
  padding: 60px 0; }

.footer-top-area .section-heading {
  text-align: center;
  margin-bottom: 32px; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

ul li {
  list-style-type: none; }

ul.social-media-area {
  text-align: center;
  margin: 14px 0; }

ul.social-media-area li {
  display: inline-block;
  margin: 8px; }

ul.social-media-area li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #707070;
  border: 2px solid #adadad;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s; }

ul.social-media-area li a i {
  font-size: 18px; }

ul.social-media-area li a:hover {
  color: #fff;
  border: 2px solid #707070;
  background: #707070; }

.footer-bottom-area {
  padding: 14px 0;
  background: #242424; }

.copyright-text {
  font-size: 12px;
  color: #F8F8F8;
  text-align: center;
  letter-spacing: .5px; }

.copyright-text a {
  color: #fff;
  font-size: 12px; }

.copyright-text a:hover {
  color: #6C63FF; }

ul.social-media-area li a:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px); }

/* footer close */
/* card start */
.card {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden; }

.card-img {
  border: 0;
  border-radius: 0;
  overflow: hidden;
  /* margin-bottom: 10px; */ }

.card-img.img-sm img {
  height: 200px; }

.card-img img {
  width: 100%;
  height: 269px;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.card-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #242424;
  margin-bottom: 0; }

.-title-lg {
  font-size: 24px;
  font-weight: 700; }

.card-title.text-left {
  text-align: left; }

.card-position {
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #707070; }

.card-blurb-wrapper {
  padding: 16px; }

.card .blurb-wrapper {
  padding: 20px;
  margin: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500; }

.card:hover {
  -webkit-box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.2); }

.card:hover .card-img img {
  -webkit-transform: scale(1.06) translateZ(0);
  transform: scale(1.06) translateZ(0);
  opacity: 0.9; }

.card-blurb-wrapper.gradient-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px; }

.gradient-bg {
  background: black;
  background: -moz-linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.70411) 20%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.70411) 20%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(20%, rgba(0, 0, 0, 0.70411)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, black 0%, rgba(0, 0, 0, 0.70411) 20%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(bottom, black 0%, rgba(0, 0, 0, 0.70411) 20%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.70411) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1); }

.card-blurb-wrapper.gradient-bg .card-title {
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: normal; }

/* card close */
.img-wrapper {
  width: 100%;
  margin: 10px 0;
  -webkit-box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.img-wrapper img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
  overflow: hidden;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.img-wrapper:hover {
  -webkit-box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.2); }

.img-wrapper:hover img {
  -webkit-transform: scale(1.06) translateZ(0);
  transform: scale(1.06) translateZ(0);
  opacity: 0.9; }

.-img-md img {
  height: 340px; }

.item {
  margin-bottom: 10px; }

.blurb-wrapper {
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #242424;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: normal;
  word-break: break-word; }

.blurb-wrapper.text-light-color {
  color: #f5f5f5; }

/* ellipsis start */
.ellipsis {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 50px;
  left: 0;
  z-index: 2; }

.ellipsis {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), to(white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, white 100%); }

.ellipsis-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: unset;
  max-height: 116px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal; }

@supports (-webkit-line-clamp: 2) {
  .overflow-ellipsis-text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; } }

/* ellipsis close */
#fill-circle-wrapper {
  -webkit-animation: translate-up 4s ease 0.8s infinite alternate both;
  animation: translate-up 4s ease 0.8s infinite alternate both;
  -webkit-transform: translate(120px, 120px) rotate(160deg);
  -ms-transform: translate(120px, 120px) rotate(160deg);
  transform: translate(120px, 120px) rotate(160deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left; }

#outline-circle-wrapper {
  -webkit-animation: translate-up 4s ease 0.8s infinite alternate both;
  animation: translate-up 4s ease 0.8s infinite alternate both;
  -webkit-transform: translate(-20px, -30px) rotate(40deg);
  -ms-transform: translate(-20px, -30px) rotate(40deg);
  transform: translate(-20px, -30px) rotate(40deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  opacity: 0.9; }

#outline-polygon-wrapper {
  -webkit-animation: translate-rotate 2.8s ease infinite alternate both;
  animation: translate-rotate 2.8s ease infinite alternate both;
  -webkit-transform: translate(-80px, 0px) rotate(60deg);
  -ms-transform: translate(-80px, 0px) rotate(60deg);
  transform: translate(-80px, 0px) rotate(60deg);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right; }

#outline-polygon-wrapper-sm {
  -webkit-animation: translate-rotate 2.8s ease 0.9s infinite alternate both;
  animation: translate-rotate 2.8s ease 0.9s infinite alternate both;
  -webkit-transform: translate(-20px, 0px) rotate(6deg);
  -ms-transform: translate(-20px, 0px) rotate(6deg);
  transform: translate(-20px, 0px) rotate(6deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

g#Polygon-light-outline-sm path:last-child {
  fill: #e04438; }

g#orange-bg-svg-path {
  display: none; }

@-webkit-keyframes translate-up {
  form {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes translate-up {
  form {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes translate-rotate {
  form {
    -webkit-transform: translateX(10px) rotate(0deg);
    transform: translateX(10px) rotate(0deg); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes translate-rotate {
  form {
    -webkit-transform: translateX(10px) rotate(0deg);
    transform: translateX(10px) rotate(0deg); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@media (max-width: 768px) {
  .intro-bg {
    width: 100%; } }

@media (max-width: 480px) {
  .intro-bg {
    display: none; }
  .why-us-section .section-content-img img,
  .feature-section .section-content-img img {
    width: 280px; } }

@media (max-width: 991px) {
  .order2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 1;
    order: 2; }
  .request-demo-content .section-heading {
    text-align: center; }
  .request-demo-content .brief-text {
    text-align: center; } }

section.why-us-section {
  background: white;
  background: -moz-linear-gradient(180deg, white 0%, #f8f8f8 30%, #f8f8f8 100%);
  background: -webkit-linear-gradient(180deg, white 0%, #f8f8f8 30%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #f8f8f8), to(#f8f8f8));
  background: -webkit-linear-gradient(top, white 0%, #f8f8f8 30%, #f8f8f8 100%);
  background: -o-linear-gradient(top, white 0%, #f8f8f8 30%, #f8f8f8 100%);
  background: linear-gradient(180deg, white 0%, #f8f8f8 30%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8f8f8", GradientType=1); }

section.impact-section {
  background: #f8f8f8;
  background: -moz-linear-gradient(180deg, #f8f8f8 0%, white 80%, white 100%);
  background: -webkit-linear-gradient(180deg, #f8f8f8 0%, white 80%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), color-stop(80%, white), to(white));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, white 80%, white 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, white 80%, white 100%);
  background: linear-gradient(180deg, #f8f8f8 0%, white 80%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#ffffff", GradientType=1); }

/* form popup modal start */
.modal {
  padding-right: 0 !important; }

.modal-dialog.modal-lg {
  max-width: 100%;
  height: auto;
  margin: 0; }

.modal-content {
  border-radius: 0;
  border: 0;
  position: relative; }

.modal-content::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background: url(../assets/img/pattern-3.png) #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2; }

.modal-body {
  padding-bottom: 40px;
  -webkit-overflow-scrolling: touch; }

.modal-title {
  font-size: 14px;
  text-transform: capitalize; }

.modal-header {
  border: 0; }

.modal-header .close {
  font-size: 42px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }

.form-header {
  margin-bottom: 40px;
  text-align: center; }

.form-header h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  color: #212121; }

.form-header span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif; }

.disclamer {
  font-size: 12px;
  font-style: italic;
  color: #f44336;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px; }

form label {
  font-size: 14px;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

.form-section-heading {
  font-size: 14px;
  font-weight: 400;
  color: #707070; }

.infoWrapper .section-heading {
  color: #6C63FF; }

.infoWrapper ul {
  margin-left: 24px; }

.infoWrapper ul li {
  list-style-type: disc;
  font-size: 14px;
  color: #212121; }

form input,
form textarea,
form .form-control {
  font-size: 14px;
  margin-bottom: 6px; }

.blurb {
  font-size: 14px;
  color: #707070; }

.need-more-text {
  font-size: 14px; }

.need-more-text span {
  color: #212121;
  display: block; }

.modal-body footer .copyright-text {
  color: #707070; }

.modal-body footer .copyright-text a {
  color: #707070; }

.modal-body footer .copyright-text a:hover {
  color: #6C63FF; }

/* form popup modal close */
@media (max-width: 575.98px) {
  .form-header h1 {
    font-size: 28px; }
  .form-header span {
    font-size: 12px; }
  .section-title label {
    font-size: 20px; }
  .section-title {
    font-size: 30px; } }

@media (min-width: 1023.99px) {
  .intro-section::before {
    content: '';
    top: 0;
    left: 0%;
    right: -520px;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: url("../img/orange-bg-svg-path.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: visible; }
  section#home {
    position: relative;
    overflow: hidden; } }
